* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #4492f4;
}

.qol {
  padding: 100px;
  display: flex;
  gap: 5px;
}

.bir {
  width: 40px;
  height: 100px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  -webkit-animation: main 3s infinite;
          animation: main 3s infinite;
}
.bir::after {
  content: "";
  top: 10px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq 3s infinite;
          animation: chiziq 3s infinite;
}
.bir::before {
  content: "";
  top: 20px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq2 3s infinite;
          animation: chiziq2 3s infinite;
}
.bir .tirnoq {
  content: "";
  top: 65px;
  left: 5px;
  width: 30px;
  height: 25px;
  background: #4492f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  -webkit-animation: tirnoq 3s infinite;
          animation: tirnoq 3s infinite;
}

.ikki {
  width: 40px;
  height: 120px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  top: -10px;
  -webkit-animation: main 3s infinite 0.2s;
          animation: main 3s infinite 0.2s;
}
.ikki::after {
  content: "";
  top: 10px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq 3s infinite 0.2s;
          animation: chiziq 3s infinite 0.2s;
}
.ikki::before {
  content: "";
  top: 20px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq2 3s infinite 0.2s;
          animation: chiziq2 3s infinite 0.2s;
}
.ikki .tirnoq {
  content: "";
  top: 85px;
  left: 5px;
  width: 30px;
  height: 25px;
  background: #4492f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  -webkit-animation: tirnoq 3s infinite 0.2s;
          animation: tirnoq 3s infinite 0.2s;
}

.uch {
  width: 40px;
  height: 140px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  top: -20px;
  -webkit-animation: main 3s infinite 0.4s;
          animation: main 3s infinite 0.4s;
}
.uch::after {
  content: "";
  top: 10px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq 3s infinite 0.4s;
          animation: chiziq 3s infinite 0.4s;
}
.uch::before {
  content: "";
  top: 20px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq2 3s infinite 0.4s;
          animation: chiziq2 3s infinite 0.4s;
}
.uch .tirnoq {
  content: "";
  top: 105px;
  left: 5px;
  width: 30px;
  height: 25px;
  background: #4492f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  -webkit-animation: tirnoq 3s infinite 0.4s;
          animation: tirnoq 3s infinite 0.4s;
}

.tort {
  width: 40px;
  height: 120px;
  background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  top: -15px;
  -webkit-animation: main 3s infinite 0.6s;
          animation: main 3s infinite 0.6s;
}
.tort::after {
  content: "";
  top: 5px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq 3s infinite 0.6s;
          animation: chiziq 3s infinite 0.6s;
}
.tort::before {
  content: "";
  top: 20px;
  left: 10px;
  width: 20px;
  height: 5px;
  background: #4492f4;
  border-radius: 5px;
  position: absolute;
  -webkit-animation: chiziq2 3s infinite 0.6s;
          animation: chiziq2 3s infinite 0.6s;
}
.tort .tirnoq {
  content: "";
  top: 85px;
  left: 5px;
  width: 30px;
  height: 25px;
  background: #4492f4;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  -webkit-animation: tirnoq 3s infinite 0.6s;
          animation: tirnoq 3s infinite 0.6s;
}

.besh {
  width: 50px;
  height: 40px;
  background: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  position: relative;
  top: -50px;
  left: 10px;
  -webkit-animation: bosh 3s infinite 0.8s;
          animation: bosh 3s infinite 0.8s;
}
.besh::after {
  content: "";
  top: 10px;
  left: 10px;
  border-bottom: 10px solid #fff;
  border-right: 15px solid transparent;
  position: absolute;
  top: -10px;
  left: 0;
}

@-webkit-keyframes main {
  from {
    transform: rotateX(50deg);
    transform-origin: 100% 0;
  }
}

@keyframes main {
  from {
    transform: rotateX(50deg);
    transform-origin: 100% 0;
  }
}
@-webkit-keyframes bosh {
  from {
    left: 90deg;
    top: 0;
  }
  to {
    transform: rotateY(90deg);
    transform: translateX(-5px);
    top: 10px;
  }
}
@keyframes bosh {
  from {
    left: 90deg;
    top: 0;
  }
  to {
    transform: rotateY(90deg);
    transform: translateX(-5px);
    top: 10px;
  }
}
@-webkit-keyframes chiziq {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}
@keyframes chiziq {
  from {
    top: 0px;
  }
  to {
    top: 5px;
  }
}
@-webkit-keyframes chiziq2 {
  from {
    top: 0px;
  }
  to {
    top: 15px;
  }
}
@keyframes chiziq2 {
  from {
    top: 0px;
  }
  to {
    top: 15px;
  }
}
@-webkit-keyframes tirnoq {
  from {
    transform: translateY(-15px);
  }
}
@keyframes tirnoq {
  from {
    transform: translateY(-15px);
  }
}/*# sourceMappingURL=main.css.map */